
@font-face {
  font-family: 'TH Sarabun New';
  src: local('../../resources/fonts/THSarabunNew-Italic.eot');
  src: local('../../resources/fonts/THSarabunNew-Italic.eot?#iefix') format('embedded-opentype'),
    local('../../resources/fonts/THSarabunNew-Italic.woff2') format('woff2'),
    local('../../resources/fonts/THSarabunNew-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 20px;
  color: #525252;
}

.card{
  min-height: 500px;
  cursor: pointer;
}

.header-number{
  font-size: 5rem;
}

.page {
  display: none;
}
.pageActive {
  display: block;
}
